body{
  font-family: Roboto, arial;
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}
.header div{
  margin: 8px;
}
.logo-container{
  color: white;
  font-size: 24px;
  align-items: center;
}
.links{
  justify-content: center;
}
.links ul{
  display: flex;
  justify-content: space-between;
  gap: 13px;
  list-style: none;
}
.links a{
  color: white;
}
